.button {
  font-family: @oswald;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
  text-decoration: none;
}

.button__special {
  color: @special-dark-grey;
  background-color: @basic-grey;
  font-size: 16px;
}
