.choice {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey-1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--check {
    color: @basic-black;

    @media (min-width: @tablet-width) {
      width: 287px;
      margin-bottom: 30px;
    }

    @media (min-width: @desktop-width) {
      width: 245px;
    }

    input + span {
      padding-left: 44px;

      @media (min-width: @tablet-width) {
        padding-left: 58px;
      }

      &::before {
        left: 0px;
        top: 3px;
      }
    }

    input:checked + span::before {
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E");
      background-size: 50%;
    }
  }

  input + span {
    position: relative;
    display: block;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 3px;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border: 1px solid @special-grey-1;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @media (min-width: @tablet-width) {
        width: 40px;
        height: 40px;
      }
    }
  }

  input:disabled + span::before {
    border-color: @input-grey-2;
  }

  input:disabled + span {
    opacity: 0.3;
  }

  input:hover + span::before {
    border-color: @input-grey-2;
  }

  &--radio {

    input + span {
      padding-left: 44px;

      @media (min-width: @tablet-width) {
        padding-left: 86px;
      }
    }

    input + span::before {
      border-radius: 50%;
      left: 0px;
      top: 3px;

      @media (min-width: @tablet-width) {
        left: 26px;
      }
    }

    input:checked + span::before {
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='9.94255' cy='9' rx='8.98875' ry='9' fill='%2368B738'/%3E%3C/svg%3E%0A");
      background-size: 50%;
    }
  }
}
