.contacts__text {
  padding: 28px 19px 22px 19px;

  &--inner-background {
    background-color: @basic-grey;
  }
}

.contacts__invitation {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey-2;
}

.contacts__address {
  color: @special-dark-grey;
}
