.contacts__text {
  .box-sizing;
  padding: 28px 19px 22px 19px;
}

.contacts__invitation {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
