.example {
  background: @special-grey-3;
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    background: @basic-white;
  }
}

.example__background {
  @media (min-width: @desktop-width) {
    background: linear-gradient(to right, @basic-grey 72%, @special-grey-3 28%);
  }
}

.example__expander {

  &:before {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 570px;
      height: 100%;
      background: linear-gradient(to right, @basic-grey 50%, @special-grey-3 50%);
    }
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    position: relative;
  }
}

.example__wrapper {
  padding-right: 20px;
  padding-left: 21px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    padding-left: 0;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 570px;
  }
}

.example__gradient {
  @media (min-width: @tablet-width) {
    background: @special-grey-3;
  }

  @media (min-width: @desktop-width) {
    background: none;
    position: relative;
  }
}

.example__header {
  margin-top: 0;
  margin-bottom: 33px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 76px;
    padding: 0;
  }
}

.example__text {
  font-family: @oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: right;
    margin: 0;
    padding-top: 7px;
    line-height: 29px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    text-align: left;
  }

  span {
    @media (min-width: @desktop-width) {
      display: inline-block;
      margin-left: 60px;
    }
  }
}

.example__quote {
  line-height: 18px;
  color: @special-dark-grey;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
  }
}

.example__table-wrapper {
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.example__image--before {
  @media (min-width: @desktop-width) {
  position: absolute;
  z-index: 2;
  }
}

.example__image--now {
  display: none;
}
