.input-text {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
  display: block;

  & input {
    font: inherit;
    text-transform: uppercase;
    color: inherit;
  }
}
