.instruction {
  padding-top: 29px;
  padding-bottom: 47px;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @border-grey-1;
    padding-top: 46px;
    padding-bottom: 87px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    padding-top: 71px;
    padding-bottom: 67px;
  }
}

.instruction__grid {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 80px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.instruction__header {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 34px;
    font-size: 60px;
    line-height: 60px;
    padding-left: 0;
  }
}

.instruction__item {
  position: relative;
  line-height: 18px;
  color: @special-dark-grey;
  padding-top: 10px;
  padding-left: 79px;
  margin-top: 0;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 324px;
    padding-top: 149px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: @basic-green;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      top: 37px;
    }
  }

  &--healthy::before {
    background-image: url("../img/healthy.svg");
  }

  &--fast::before {
    background-image: url("../img/fast.svg");
  }

  &--change::before {
    background-image: url("../img/change.svg");
  }

  &--time::before {
    background-image: url("../img/time.svg");
  }

  &--healthy::after {
    @media (min-width: @tablet-width) {
      content: "1";
      font-family: @oswald;
      font-size: 280px;
      line-height: 280px;
      color: @basic-grey;
      position: absolute;
      top: -2px;
      left: 119px;
      z-index: -1;
    }
  }

  &--fast::after {
    @media (min-width: @tablet-width) {
      content: "2";
      font-family: @oswald;
      font-size: 280px;
      line-height: 280px;
      color: @basic-grey;
      position: absolute;
      top: -2px;
      left: 111px;
      z-index: -1;
    }
  }

  &--change::after {
    @media (min-width: @tablet-width) {
      content: "3";
      font-family: @oswald;
      font-size: 280px;
      line-height: 280px;
      color: @basic-grey;
      position: absolute;
      top: -2px;
      left: 113px;
      z-index: -1;
    }
  }

  &--time::after {
    @media (min-width: @tablet-width) {
      content: "4";
      font-family: @oswald;
      font-size: 280px;
      line-height: 280px;
      color: @basic-grey;
      position: absolute;
      top: -2px;
      left: 113px;
      z-index: -1;
    }
  }
}

.instruction__br-no-mobile {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
