.instruction__header {
  font-family: @oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.instruction__wrapper {
  padding: 27px 21px 42px 20px;
}

.instruction__item {
  line-height: 18px;
  color: @special-dark-grey;
}
