.instruction__header {
  font-family: @oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 110px;
  }
}

.instruction__wrapper {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 21px;
  padding-bottom: 42px;
  padding-right: 20px;
  padding-top: 27px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-bottom: 42px;
    padding-right: 30px;
    padding-top: 47px;
    border-bottom: 1px solid @border-grey-1;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-bottom: 11px;
    padding-right: 106px;
    padding-top: 71px;
  }
}

.instruction__item {
  line-height: 18px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 25%;
  }
}
