.main-navigation__list {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
    .clear-list;
    a {
      text-decoration: none;
      color: @basic-black;
    }
}
