.opening__wrapper {
  &::before {
    content: "";
    width: 320px;
    height: 302px;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    background-image:
    linear-gradient(to top, fade(@basic-green, 85%), fade(@basic-green, 85%)),
    url(../img/opening-cat.jpg);
  }
  position: relative;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
}

.opening__title {
  color: @basic-white;
}

.opening__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @basic-white;
}
