.opening__wrapper {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 22px;

  @media (min-width: @desktop-width) {
    margin-bottom: 266px;
  }

  &::before {
    content: "";
    width: 100%;
    height: 302px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    background-image: linear-gradient(to top, fade(@basic-green, 85%), fade(@basic-green, 85%)), url("../img/opening-cat.jpg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      transform: translateX(-1000%);
    }

    @media (min-width: @desktop-width) {
      width: 50%;
      height: 694px;
      right: 0;
      top: -123px;
      transform: translate(0);
    }
  }
}

.opening__title {
  color: @basic-white;
  text-align: center;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    color: @basic-black;
    text-align: left;
    padding-left: 98px;
    padding-top: 51px;
    width: 90%;
  }

  @media (min-width: @desktop-width) {
    padding-left: 267px;
    padding-top: 101px;
    width: 53%;
  }
}

.opening__text {
  font-family: @oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @basic-white;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    text-align: left;
    margin-top: 41px;
    margin-bottom: 49px;
    padding-left: 98px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 40px;
    margin-bottom: 52px;
    padding-left: 266px;
  }
}

.opening__image {
  display: block;
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    position: absolute;
  }
}

.opening__link {
  padding-top: 10px;
  padding-right: 73px;
  padding-bottom: 9px;
  padding-left: 73px;
  display: inline-block;

  @media (min-width: @tablet-width) {
    margin-left: 92px;
    padding-top: 17px;
    padding-right: 26px;
    padding-bottom: 17px;
    padding-left: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 266px;
  }
}
