.order {
  padding-top: 27px;
  padding-bottom: 32px;
}

.order__header-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.order__fieldset-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.order__text {
  font-family: @oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 39px;
}

.order__cat-data {
  .fieldset;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 19px;
  padding-top: 0;
  border-bottom: 1px solid @border-grey;
}

.order__input-text {
  margin-bottom: 14px;
}

.order__goal {
  .fieldset;
  padding-right: 20px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-top: 22px;
  border-bottom: 1px solid @border-grey;
}

.order__choice {
  display: block;
  margin-bottom: 12.5px;
}

.order__contacts {
  .fieldset;
  margin-top: 26px;
  padding: 0;
}

.order__contacts-title {
  padding: 0;
  margin-bottom: 35px;
}

.order__comment {
  .fieldset;
  margin-top: 24px;
  padding: 0;
}

.order__comment-title {
  margin-bottom: 38px;
}

.order__more {
  .fieldset;
  margin-top: 23px;
  margin-bottom: 34px;
  padding: 0;
}

.order__more-title {
  margin-bottom: 34px;
}

.order__footnote {
  margin-bottom: 21px;
}
