.page-footer {
  background-color: @basic-grey;

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.page-footer__bottom-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  padding-top: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid @border-grey;
  display: block;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 61px;
    padding-bottom: 57px;
  }
}
