.page-footer {
  background-color: @basic-grey;

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.page-footer__bottom-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.page-footer__logo {
  padding-bottom: 25px;
  padding-top: 40px;
  border-bottom: 1px solid @border-grey;
  display: block;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 57px;
    padding-top: 61px;
  }
}
