.slider {
  padding-bottom: 25px;
}

.slider__label {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    border-bottom: 1px dotted @border-grey-1;
  }
}
