.slider {
  padding-top: 14px;
  padding-bottom: 26px;
  width: 228px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 570px;
    padding-top: 361px;
    padding-bottom: 67px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    position: relative;
    z-index: 2;
    padding-top: 307px;
    padding-bottom: 0;
  }
}

.slider__label {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  padding-top: 10px;
  padding-right: 19px;
  padding-bottom: 10px;
  padding-left: 16px;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-top: 6px;
    padding-right: 0;
    padding-bottom: 6px;
    padding-left: 0;
    border-bottom: 1px dotted fade(@basic-black, 20%);
  }

  &:hover {
    @media (min-width: @tablet-width) {
      border-bottom: 1px solid fade(@basic-black, 40%);
    }
  }

  &:active {
    @media (min-width: @tablet-width) {
      border-bottom: 1px solid transparent;
    }
  }
}

.slider__scale {
  width: 84px;
  height: 14px;
  background-color: @basic-white;
  border: 1px solid @special-grey-1;
  border-radius: 6px;
  padding-right: 6px;
  padding-left: 6px;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    justify-content: center;
    width: 428px;
    height: 6px;
    background-color: @slider-grey;
    border: 1px solid @slider-grey;
  }
}

.slider__bar {
  width: 50%;
  height: 6px;
  padding: 0;
  outline: none;
  border: none;
  background: @basic-green;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 12px solid @basic-white;
    box-shadow: 0 0 0 1px @special-grey-1, 0 1px 3px fade(@basic-black, 16%);
  }

  &:hover {
    @media (min-width: @tablet-width) {
      box-shadow: 0 0 0 1px @special-grey-1, 0 2px 4px fade(@basic-black, 19%);
    }
  }

  &:active {
    @media (min-width: @tablet-width) {
      box-shadow: 0 0 0 1px @basic-green, 0 3px 5px fade(@basic-black, 20%);
    }
  }
}
