.socials__wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid @border-grey;

  @media (min-width: @tablet-width) {
    border: none;
    width: 324px;
  }
}

.socials__list {
  .clear-list;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socials__item {
  margin-right: 4px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  margin: auto;
  width: 50px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 9px;
    width: 53px;
  }

  &:hover svg {
    fill: @basic-green;
  }

  &:active svg {
    fill: fade(@basic-green, 30%);
  }

  &--vkontakte svg {
    @media (min-width: @tablet-width) {
      width: 29px;
      height: 17px;
    }
  }

  &--instagram svg {
    @media (min-width: @tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    &:hover svg {
      fill: none;
      stroke: @basic-green;
    }

    &:active svg {
      stroke: fade(@basic-green, 30%);
    }

    svg {
      @media (min-width: @tablet-width) {
        width: 29px;
        height: 29px;
        padding-right: 10px;
      }
    }
  }
}
