.socials__wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid @border-grey;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.socials__list {
  .clear-list;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socials__item {
  margin-right: 34px;
  padding-top: 6px;
  height: 61px;
  display: flex;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    margin: auto;
  }
}
