.specification {
  border-collapse: collapse;
  border: 1px solid transparent;
  font-size: 12px;
  line-height: 15px;
  color: @special-dark-grey;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.specification__line {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @special-grey-1;
  }
}

.specification__data {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: @tablet-width) {
    height: 31px;
  }

  &--value {
    text-align: right;
  }
}
